<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")

        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
     
        @await Component.InvokeAsync("_AdminLayoutContentHeaderComponentPartial")
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                @RenderBody()
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>
