<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeaderViewComponentPartial")


<body>
    <div class="container-xxl bg-white p-0">
        @await Component.InvokeAsync("_SpinnerViewComponentPartial")

        @await Component.InvokeAsync("_NavbarViewComponentPartial")
   
        @RenderBody()

        @await Component.InvokeAsync("_FooterViewComponentPartial")

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    @await Component.InvokeAsync("_ScriptViewComponentPartial")
  
    @RenderSection("Scripts",false)
</body>

</html>